#app {
	max-width: 1880px;
	margin: 0 auto;

	@media (min-width: 500px) {
		.container {
			display: grid;
		}

		#nav {
			grid: 75px / auto-flow 1fr;
			text-align: center;
			align-items: center;
		}
	}

	#nav {
		display: grid;
		grid-gap: 10px;
		font-size: 1.5em;
		font-weight: 700;

	a {
		text-decoration: none;
		color: #000;
	}
	
		.item {
			border: 2px solid black;
			border-radius: 5px;

			&:hover {
				background-color: aliceblue;
				box-shadow: 5px 5px 10px green;
			}
		}
	}

	#profileImage {
		text-align: center;
		margin-top: 15px;
	}

	#bio {
		margin: 5px;
		padding: 10px;
		border: 2px solid #2A9C7A;
	}

	#businessCard {
		margin-top: 10px;
		text-align: center;
	}

	#footer {
		text-align: center;
		margin-top: 10px;
	}
}