.container {
	max-width: 1880px;
	margin: 0 auto;

	@media (min-width: 500px) {
		#nav {
			grid: 75px / auto-flow 1fr;
			text-align: center;
			align-items: center;
		}
	}

	#nav {
		display: grid;
		grid-gap: 10px;
		font-size: 1.5em;
		font-weight: 700;

	a {
		text-decoration: none;
		color: #000;
	}
	
		.item {
			border: 2px solid black;
			border-radius: 5px;

			&:hover {
				background-color: aliceblue;
				box-shadow: 5px 5px 10px green;
			}
		}
	}
}