#app {
	max-width: 1880px;
	min-width: 400px;
	margin: 0 auto;

	#header {
		grid-area: header;
	}

	#nav {
		display: grid;
		grid-gap: 10px;
		font-size: 1.5em;
		font-weight: 700;
		text-align: center;
		align-items: center;
		grid-area: nav;

	a {
		text-decoration: none;
		color: #000;
	}
	
		.item {
			border: 2px solid black;
			border-radius: 5px;

			&:hover {
				background-color: aliceblue;
				box-shadow: 5px 5px 10px green;
			}
		}
	}

	#profileImage {
		border: 2px solid #2A9C7A;
		margin: 15px 5px 5px 5px;
		padding: 15px;
		text-align: center;
		grid-area: bioImg;
	}

	#bio {
		margin: 5px;
		padding: 10px;
		border: 2px solid #2A9C7A;
		grid-area: bio;
	}

	#businessCard {
		margin-top: 10px;
		text-align: center;
		grid-area: bizCard;

		img:hover {
			background-color: aliceblue;
			box-shadow: 10px 10px 15px green;
		}
	}

	#video {
		text-align: center;
		background-color: aliceblue;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
		border: 2px solid #2A9C7A;
		grid-area: video;
	}

	#content_video {
		width: 350px;
		height: auto;
		margin: 0 auto;
	}

	#freelance {
		text-align: center;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
		border: 2px solid #2A9C7A;
		grid-area: freelance;

		img {
			padding-top: 10px;
			min-width: 350px;
			max-width: 350px;
		}

		h5 {
			max-width: 1400px;
			margin: 0 auto;
			padding-bottom: 10px;
		}
	}

	#footer {
		text-align: center;
		margin-top: 10px;
		grid-area: footer;
	}

	@media (min-width: 750px) {
		.container {
			display: grid;
			grid-template-areas: 
				"header    header    header   	header"
				"nav       nav       nav      	nav"
				"bioImg    bioImg    bio      	bio"
				"video     video     video      video"
				"freelance freelance freelance 	freelance"
				"bizCard   bizCard   bizCard  	bizCard"
				"footer    footer    footer   	footer"
		}

		#nav {
			grid: 75px / auto-flow 1fr;
			grid-gap: 10px;
		}

		#profileImage {
			padding: 10px;
			margin: 5px;
		}
	}

	@media (min-width: 900px) {
		#freelance img {
			min-width: 850px;
			max-width: 850px;
		}

		#content_video {
			width: 360px;
			height: 640px;
		}
	}
}